.pethome-header{
    margin-bottom: 2em;
}

.pethome-header h1{
    margin-bottom: 0.3em;
}

.pet-conteiner{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.pet-card{
    width: 22%;
    margin: 1.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pet-card h3{
    color: #16479d;
    margin-bottom: 1em;
    font-size: 1.6em;
    padding: 8px
}

.pet-card p {
    margin-bottom: 1em;
}

.pet-card a {
    text-decoration: none;
    background-color: #ffd400;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #16479d;
    font-size: 1.1em;
  
}

.pet-card a:hover{
    background-color:#E7C30D;
    color: #fff
}

.pet-image{
    background-color: cover;
    background-position: center;
    height: 225px;
    width: 100%;
    margin-bottom:1.2em;
}

.adopted-text{
    color: #25b456;
    font-weight: bold;
    padding: 15px;
}